/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MYRIADPRO-REGULAR.eot');
	src: local('☺'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('../fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('../fonts/MYRIADPRO-REGULAR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Myriad Pro';
	font-weight: 500;
	/* min-width: 1170px; */
}
.body{
	
}
.header{
	background-color: #ffffff;
}
.container{
	max-width: 1200px;
	/* width: 1180; */
	margin: 0 auto;
	padding:  0 15px;
}
@media (max-width: 1170px){
	.container{
		max-width: 920px;
	}
}
@media (max-width: 992px){
	.container{
		max-width: 750px;
	}
}
.header__row{
	display: flex;
	align-items: center;
	padding: 10px 156px;
	justify-content: space-between;
	margin: 0 0 10px 0;
	position: fixed;
	background-color: white;	
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
.header__img{
	display: flex;
	justify-content: center;
	flex: 0 0 100px;
}
.header__img img{
	max-width: 100%;
}
.header__body{
	flex: 1 1 auto;
	margin: 0 0 0 36px;
}
.header__info{
	max-width: 700px;
	width: 100%;
	line-height: 30px;
	font-family: 'Myriad Pro';
	
}
.header__info a{
	padding: 0 20px;
	color: #bcbcbc;
}
.header__info a:hover{
	background-color: #ffbb42;
	color: white;
	border-radius: 2px;
	transition-duration: .2s;
}
.header__info_2{
	display: flex;
	justify-content:space-around;
}
.banner{
	background-color: #709dca;
	width: 100%;
	height: 500px;
	margin: 70px 0;
}
.banner__body{
	height: 400px;
}
.banner-text{
	text-align: center;
	padding:  80px 0 30px 0;
	color: white;
}
.banner-text__title{
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}
.banner-text__text{
	padding: 5px;
	font-size: 15px;
}
.request-quate__body{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}
.request-quate__info{
	display: flex;
	justify-content: space-between;
}
input{
	padding: 5px 10px 5px 35px;
	line-height: 30px;
	width: 234px;
	font-size: 15px;
	margin: 0 5px;
}
.form__input{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}
.icon{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 15px;
	top: 0;
	height: 100%;
	font-size: 16px;
	color: #959595;
}
.button{
	background-color: #ffbb42;
	color: white;
	cursor: pointer;
	padding: 0 30px;
	margin: 0 10px;
	text-transform: uppercase;
}
.button:hover{
	background-color: #ffa914;
	transition-duration: .3s;
}
.button:active{
	background-color: #ffbb42;
	transition-duration: 0s;
}
.laptop__row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.laptop__body{
	flex: 1 1 auto;
}
.laptop__img{
	flex: 0 0 600px;
	padding: 47px 0 0 0;
	margin: 0 0 40px 0;
}
.laptop__img img{
	max-width: 100%;
}
.services__row{
	padding: 0 0 100px 0;
}
.title{
	color: #394b50;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.title-text{
	text-align: center;
	word-spacing: 5px;
	padding: 3px 0 20px 0;
	color: #394b50;
}
.services{
	padding: 150px 0 20px 0;
}
.services__body{
	margin: 0 auto;
	min-width: 957pxй;
}
.services__row_2{
	display: flex;
	flex-wrap: wrap;
}
.services__column{
	flex: 0 1 40%;
	margin: 0 0 80px 80px;
}
.columns__title{
	text-align: center;
	margin: 0 0 30px 0;
}
.item__row{
	display: flex;
}
.item__body{
	flex: 1 1 auto;
	padding: 0 0 0 30px;
}
.item__title{
	color: #455161;
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 13px 0;
}
.item__text{
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}
.item__icon{
	font-size: 50px;
	padding: 3px 0 0 0;
	color: #b3cbe3;
}
.item__icon_1{
	font-size: 50px;
	padding: 3px 0 0 0;
	color: #f6772c;
}
.about{
	background-color: #ffc155;;
}
.about__body{
	padding: 0  0 60px 0;
}
.about__row{
	left: 0px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.about__img{
	flex: 0 0 500px;
	position: absolute;
	left: 0;
}
.about__img img{
	max-width: 100%;
	height: 500px;
}
.about-item__body{
	display: flex;
	align-items: center;
	padding: 84px 0 24px 650px;
}
.about-item__row{
	padding: 0 0 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 700px;
	width: 100%;
	color: #ffffff;
	line-height: 25px;
}
.about-item__title{
	padding: 40px 0 20px 0;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
}
.about-item__text{
	padding: 0 0 30px 0;
}
.button_1{
	border: 1px solid #e7ad48;
	line-height: 40px;
	width: 150px;
	background-color: #ffc155;
}
.pricing{
	background-color: #e7edf3;
}
.pricing__row{
	padding: 150px 0 150px 0;
}
.pricing__title-text{
	margin: 0 0 40px 0;
}
.pricing__row_2{
	justify-content: center;
	margin: 0 auto;
	display: flex;
	padding: 0 0 20px 0;
	display: flex;
	text-transform: uppercase;
}
.pricing__column{
	color: #818b95;
	background-color: #ffffff;
	width: 480px;
	padding: 20px;
	align-items: center;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}
.pricing__column_2{
	background-color: #709dca;
	color: white;
}
.pricing__column_2 p{
	color: #c2e1ff;
}
.column__row_2{
	padding: 40px 0;
}
.column__title{
	text-align: center;
	font-size: 35px;
}
.column__price{
	font-size: 70px;
	text-align: center;
	padding: 20px 0 0  0;
	color: #ffc155;
}
.column__price-text{
	text-align: center;
	padding: 0 0 20px 0;
}
.column__rows{
	flex: 1 1 auto;
	padding: 0 0 20px 0;
}
.column__rows p{
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid #c2e1ff;
}
.column__button{
	display: block;
	margin: 0 20% 30px 20%;
	color: white;
	background-color: #ffc155;
	padding: 15px 17px;
	text-align: center;
	border-radius: 2px;
}
.pricing__column_1{
	align-self: center;
}
.pricing__column_3{
	align-self: center;
}
.work__body{
	padding: 120px 0 80px 0;
	margin: 0 auto;
}
.work__title-text{
	padding: 0 0 70px 0;
}
.work-info__row{
	display: flex;
	flex: 0 1 25%;
	padding: 0 -20px;
}
.work-info__column{
	padding: 0 20px;
}
.work-info__icon{
	padding: 0 0  120px 0;
	font-size: 60px;
	color: #709dca;
	text-align: center;
}
.work-info__title{
	text-transform: uppercase;
	padding: 0 0 30px 0;
	font-size: 22px;
	text-align: center;
	color: #394b50;
	font-weight: bold;
}
.work-info__text{
	font-size: 15px;
	color: #7b7b7b;
	text-align: center;
}
.work__button{
	display: flex;
	justify-content: center;
	margin: 70px 0 20px 0;
}
.work-button{
	padding: 15px 20px;
	border-radius: 3px;
}
.client{
	background-color: #ffc155;
	color: white;
}
.client__body{
	width: 1000px;
	justify-content: center;
	position: relative;
	left: -50px;
	padding: 30px 0 0 0;
}
.client__title{
	color: white;
	padding: 80px 0 0 0;
}
.client__title-text{
	color: white;
	padding: 0 0 40px 0;
}
.client__row_2{
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
}
.client__column{
	color: #7b7b7b;
	flex: 0 1 50%;
}
.client__column-body{
	margin: 10px;
	background-color: #fff;
	display: flex;
}
.client__column-row{
	display: flex;
	padding: 10px 20px;
}
.client__column-img{
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.client__column-text{
	padding: 20px 20px;
	line-height: 22px;
}
.client__info{
	text-transform: uppercase;
	padding: 5px 0;
	font-weight: 700;
}
.client__profission{
	color: #99a9ae;
}
.client__name{
	color: #f6772c;
}
.footer{
	align-items: center;
	justify-content: center;
	font-size: 15px;
	background-color: #709dca;
	color: white;
}
.footer__row{
	line-height: 30px;
}
.footer__text{
text-align: center;
}